<!DOCTYPE html>

{% macro gen_page(pages) %}
{% for skip,limit in pages %}
<a href="{{url_for('index',limit=limit,skip=skip)}}">
  {{skip}},
</a>
{% endfor %}
{% endmacro %}

{% macro pnation(pagination) %}
{{ pagination.info }}
{{ pagination.links }}
{% endmacro %}

{% macro show_tw(tlist) %}

{% for t in tlist  %}
<p>
  <span>
    fav:{{t['created_at']}}
  </span>
  &nbsp;
  <span>
    rt:{{t['max_rt']}}
  </span>
  &nbsp;
  <span>
    fav:{{t['max_fav']}}
  </span>
  &nbsp;
  <a href="{{t['url']}}" target="_blank" rel="noopener">
    {{t['text']}}
    <img src="{{t.get('fpath')}}"/>
  </a>  
</p>
{% endfor %}

{% endmacro %}

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div>
	{{ pnation(pagination) }}
      </div>
      <div>
	<h3> {{mode}} </h3>
	{{show_tw(popular_tweets)}}
      </div>
      <div>
	{{ pnation(pagination) }}
      </div>
    <div>  {# container #}
  </body>
</html>

